
  .vendorContainer {
      width: 750px;
      height: 650px;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      margin-left: 450px;
      background-color: #ffffff;
      /* background-image: url("C:\Users\pravi\Downloads\3710266.jpg"); */
      border-radius: 50px;
    }
    
    .vendorTitle {
      padding-left: 38%;
      font-family: 'Lora', serif;
      font-size: 36px;
      color: #000000;
      margin-bottom: 20px;
      margin-top: 30px;
    }
    
    .vendorForm {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .vendorForm input {
      background-color:#f5f5f5;
      border-radius: 55px;
      margin-top: 30px;
      outline: none;
      height: 55px;
      width: 50%;
      line-height: 1;
      font-weight: 600;
      font-size: 0.9rem;
      padding-left: 40px;
    }
    
    .vendorForm button {
      width: 150px;
      height: 45px;
      margin-top: 30px;
      background-color: #000000;
      color: #f5f5f5;
      border: none;
      border-radius: 40px;
      font-weight: 600;
      font-size: 0.9rem;
      cursor: pointer;
  
    }
    .dropdown-select{
      background-color:#f5f5f5;
      border-radius: 55px;
      margin-top: 30px;
      outline: none;
      height: 55px;
      width: 50%;
      line-height: 1;
      font-weight: 600;
      font-size: 0.9rem;
      padding-left: 40px;
      border : 0.112rem solid;
    }
  
    .vendorForm input.image-input {
      height: 55px;
      width: 50%;
      cursor: pointer;
      padding: 17px 15px;
      /* border-radius: 20px; */
      color: #000000;
      border: 0.112rem solid;
    }